/* style page*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: #fff;
    font-family: monospace;
}
/* style terrain*/
#terrain{
    position: relative;
    top: center ;
    left: center;
    border:1px solid rgb(0, 0, 0); 
    border-top-color : #fff;
    border-bottom-color : #fff;
    width:800px;
    height:400px;
}
/* style balle*/
#balle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color:white;
    border-radius: 100%;
}
/*style raquettes */
.raquette{
    position: absolute;
    top: calc( 50% - var(--hauteur)/2 );
    width: 10px;
    height: var(--hauteur);
    background-color: white;
    --hauteur: 25%;
}
/* 2eme raquettes */
#raquette2{
    right : 0;
}