body{
    /** Page style **/
    background-color: #000;
    color: #fff;
    font-family: monospace;
    display: flex; 
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#terrain{
    /** Terrain Style **/
    position : relative;
    border: 1px solid #000;
    border-top-color: #fff;
    border-bottom-color: #fff;
    width : 800px;
    height: 400px;
}

#balle{
    /** Balle style **/
    position : absolute;
    top: 50%;
    left:50%;
    width: 20px;
    height:20px;
    background-color: white;
    border-radius:100%;
}
.raquette{
    position : absolute;
    top:10%;
    width : 10px;
    height : 100px;
    background-color : white;
    border-radius: 5px;
}
#raquetteG{
    /** Raquette gauche style **/
    left : 10%;
}

#raquetteD{
    /** Raquette droite style **/
    right : 10%;
}